:host{
  .main-wrapper{
    width: 90vw;
    margin: auto;
    border: 1px solid #acaaaa;
    border-radius: 5px;
    padding: 1.5em;
    .list-container{
      min-width: 300px;
      border-radius:5px;
      border: 1px solid #696969;
    }
    mat-form-field{
      max-width: 300px;
    }
  }

}

