@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');

:host{
  .main-wrapper {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;

    mat-form-field {
      font-size: 16px;
      width: 300px;
    }
  }

  .head-banner {
    width: 250px;
    height: 200px;
    padding: 10px;
  }
}

