:host{
  .main-wrapper{
    width:100%;
    margin-top: 2em;
  }

  // SINGLE PLANET

  .single-planet {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(209, 206, 206);
    margin-bottom: 2em;
  }

  .single-planet:last-child {
    border: none;
    padding: 0;
    margin: 0;
  }

  .planet-name {
    font-weight: bold;
  }
}
