<div class="main-wrapper">
    <div class="planetListColumns">
        <div class="planetListColumns__name">Name</div>
        <div class="planetListColumns__climate">Climate</div>
        <div class="planetListColumns__terrain">Terrain</div>
        <div class="planetListColumns__diameter">Diameter</div>
        <div class="planetListColumns__gravity">Gravity</div>
      </div>
  <div *ngFor="let item of planetsList" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" class="listRow">
     <div class="itemName">{{item.name}}</div>
     <div>{{item.climate}}</div>
     <div>{{item.terrain}}</div>
     <div>{{item.diameter}}</div>
     <div>{{item.gravity}}</div>
  </div>
</div>
